body {
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

input, select {
    padding: 10px;
    width: 250px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
